<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<h1>ICICI</h1>
<br />
<table style="width: 100%">
	<tr>
		<td><b>Branchs</b></td>
	</tr>
	<tr>
		<td>ICICI Bank Indiranagar 12th Main - Wealth Branch, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank N R Road, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank Langford Road, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank -Ulsoor, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank AECS Layout, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank Nagarbhavi, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank Kormanagala 4th Block, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank Prestige, Shantiniketan Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank Marathalli, Bangalore</td>
	</tr>
	<tr>
		<td>ICICI Bank Rajajinagar, Bangalore</td>
	</tr>
</table>
</html>