<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<h1>ICICI</h1>
<br />
<table style="width: 100%">
	<tr>
		<td><b>Services</b></td>
	</tr>
	<tr>
		<td>Business loans.</td>
	</tr>
	<tr>
		<td>Checking accounts.</td>
	</tr>
	<tr>
		<td>Savings accounts.</td>
	</tr>
	<tr>
		<td>Debit and credit cards</td>
	</tr>
	<tr>
		<td>Merchant services (credit card processing, reconciliation and reporting, check collection)</td>
	</tr>
	<tr>
		<td>Treasury services (payroll services, deposit services, etc.)</td>
	</tr>
</table>
</html>